<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>carkyipad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE7275A61E6CCA8C00918646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE7275BF1E6CCA8D00918646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE7275CA1E6CCA8D00918646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
